@page "/login"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components
@using DashboardApp.Models
@using DashboardApp.Services 
@inject AuthApiClient AuthApiClient
@inject PermissionHelper PermissionHelper

<h3>Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3">
            @errorMessage
        </div>
    }

</EditForm>

@code {
    private LoginRequest loginModel = new LoginRequest();
    private string errorMessage = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isLoggedIn = await PermissionHelper.CheckLogin();

            if (isLoggedIn)
            {
                Navigation.NavigateTo("/");
            }
        }
    }


    private async Task HandleLogin()
    {
        try
        {
            var response = await AuthApiClient.LoginAsync(loginModel.Username, loginModel.Password);
            if(response)
                Navigation.NavigateTo("/");
            
            errorMessage = "Username or Password is wrong. Please Try Again";
        }
        catch (Exception ex)
        {
            errorMessage = "Invalid login credentials";
        }
        
    }

}
