
.collapse {
    display: none;
    transition: all 0.3s ease-in-out;
}

.nav-expanded {
    display: block;
    transition: all 0.3s ease;
}

.navbar-toggler-icon {
    cursor: pointer;
}

.sidebar-open {
    width: 250px;
    transition: width 0.3s ease;
}

.sidebar-closed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}
