@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <NotAuthorized>
        <a class="btn btn-success" href="login"> Login </a>
        <a class="btn btn-success" href="forgot-password"> Forget Password </a>
    </NotAuthorized>
</AuthorizeView>