@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using DashboardApp.Services
@inject PermissionHelper PermissionHelper
@inject AuthApiClient AuthApiClient

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <AuthorizeView>
        <Authorized>
            <div class="top-row px-4">
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        @Username
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><button class="dropdown-item" @onclick="ChangePassword">Change Password</button></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><button class="dropdown-item text-danger" @onclick="Logout">Logout</button></li>
                    </ul>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="top-row px-4">
                <div class="dropdown">
                    <a class="btn" href="/login">
                        Login
                    </a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>



    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string Username = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isLogin = await PermissionHelper.CheckLogin();
            if (isLogin)
            {
                Username = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "Username");
            }

            StateHasChanged();
        }
    }


    private async Task Logout()
    {
        try
        {
            var response = await AuthApiClient.LogoutAsync();
            if(response)
                Navigation.NavigateTo("/login", true);
            
        }
        catch (Exception ex)
        {
            Navigation.NavigateTo("/");
        }
    }

    private async Task ChangePassword()
    {
        Navigation.NavigateTo("/change-password");
    }
}
